<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tableUI.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="ui-global">
      <div class="ui-container">
        <table id="myTable">
          <thead>
            <tr>
              <th class="col-table">N°</th>
              <th class="col-table">ID Usuario</th>
              <th class="col-table">Título</th>
              <th class="col-table">Contenido</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <script src="tableUI.js"></script>
    <script src="example.js"></script>
  </body>
</html>
